.flixup8 {
  margin: 0;
  position: relative;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
  white-space: nowrap;
}
.latest5,
.recommmended4,
.support4 {
  position: relative;
  letter-spacing: 0.08em;
  font-weight: 500;
}
.logo-left4,
.options4 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.options4 {
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: 0 1.375rem;
  font-size: var(--font-size-base);
}
.logo-left4 {
  align-items: center;
  gap: 0 2.25rem;
}
.account-circle-icon4,
.search-icon4 {
  height: 2rem;
  width: 2rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 2rem;
}
.search-and-profile-icon4 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 1.5rem;
}
.nav-bar4,
.top-section {
  display: flex;
  flex-direction: row;
  max-width: 100%;
}
.nav-bar4 {
  flex: 1;
  align-items: center;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.top-section {
  width: 80.5rem;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-8xs) 0 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--absolute-white);
  font-family: var(--font-poppins);
}
.heading41,
.paragraph4 {
  width: 60.875rem;
  position: relative;
  line-height: 150%;
  display: inline-block;
  max-width: 100%;
}
.heading41 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.paragraph4 {
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.text-container10 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 0.25rem 0;
  max-width: 100%;
}
.icon59 {
  height: 1.75rem;
  width: 1.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.75rem;
}
.footer-link-text {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 153%;
  font-weight: 600;
  font-family: var(--font-manrope);
  color: var(--absolute-white);
  text-align: left;
}
.button38 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-sm) var(--padding-xl) var(--padding-sm)
    var(--padding-5xl);
  background-color: var(--red-45);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.25rem;
  white-space: nowrap;
}
.button38:hover {
  background-color: var(--color-red-100);
}
.icon60 {
  height: 1.75rem;
  width: 1.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button39 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-sm) var(--padding-mini) var(--padding-sm)
    var(--padding-smi);
  background-color: var(--black-06);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon61 {
  height: 1.75rem;
  width: 1.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button40 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-sm) var(--padding-mini) var(--padding-sm)
    var(--padding-smi);
  background-color: var(--black-06);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon62 {
  height: 1.75rem;
  width: 1.75rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button41,
.buttons-container11,
.container60,
.container61 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button41 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-sm) var(--padding-mini) var(--padding-sm)
    var(--padding-smi);
  background-color: var(--black-06);
  border-radius: var(--br-5xs);
}
.buttons-container11,
.container60,
.container61 {
  gap: 0 0.625rem;
}
.container60,
.container61 {
  gap: 0 1.25rem;
  max-width: 100%;
}
.container60 {
  align-self: stretch;
  border-radius: var(--br-xs);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  padding: var(--padding-31xl) var(--padding-30xl) var(--padding-xl);
  box-sizing: border-box;
  gap: 1.875rem 0;
  background-image: url(./public/container2@3x.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  min-height: 52.188rem;
}
.grouped-shapes,
.primary-title {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.primary-title {
  flex: 1;
  flex-direction: column;
  align-items: center;
  gap: 4.875rem 0;
}
.grouped-shapes {
  width: 88.625rem;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 var(--padding-xl) 0 var(--padding-5xl);
  box-sizing: border-box;
  text-align: center;
  font-size: var(--font-size-19xl);
  color: var(--absolute-white);
  font-family: var(--font-manrope);
}
.heading42,
.paragraph5 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.paragraph5 {
  color: var(--absolute-white);
}
.text-container11 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--black-10);
  border: 1px solid var(--black-15);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-30xl);
  gap: 0.875rem 0;
}
.heading43 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 1.813rem;
  max-width: 100%;
}
.icon63 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button42 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-sm) var(--padding-mini) var(--padding-sm)
    var(--padding-smi);
  background-color: var(--black-08);
  height: 3.25rem;
  width: 3.25rem;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.icon64 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button43,
.buttons-container12,
.sub-container40 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.button43 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-sm) var(--padding-mini) var(--padding-sm)
    var(--padding-smi);
  background-color: var(--black-08);
  height: 3.25rem;
  width: 3.25rem;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
  align-items: center;
}
.buttons-container12,
.sub-container40 {
  align-items: flex-start;
  gap: 0 0.625rem;
}
.sub-container40 {
  align-self: stretch;
  align-items: center;
  gap: 0 1.875rem;
  max-width: 100%;
}
.image-icon154,
.image-icon155,
.image-icon156,
.image-icon157,
.image-icon158,
.image-icon159,
.image-icon160,
.image-icon161 {
  height: 6.813rem;
  flex: 1;
  position: relative;
  border-radius: var(--br-xs);
  max-width: 5.125rem;
  overflow: hidden;
  object-fit: cover;
  min-width: 5rem;
  min-height: 6.813rem;
}
.container62,
.image-container44 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  padding: 0 var(--padding-9xs) 0 0;
  gap: 0 1.25rem;
}
.container62 {
  border-radius: var(--br-xs);
  background-color: var(--black-10);
  border: 1px solid var(--black-15);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-32xl) var(--padding-31xl)
    var(--padding-30xl);
  gap: 1.875rem 0;
  max-width: 100%;
  font-family: var(--font-archivo);
}
.heading44 {
  flex: 1;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  min-width: 3.375rem;
  max-width: 100%;
}
.heading44,
.icon65,
.text26 {
  position: relative;
}
.icon65 {
  height: 1.875rem;
  width: 1.875rem;
  overflow: hidden;
  flex-shrink: 0;
  min-height: 1.875rem;
}
.text26 {
  font-size: var(--font-size-lg);
  line-height: 153%;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--absolute-white);
  text-align: left;
}
.button44,
.heading-parent12 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button44 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-sm) var(--padding-mid) var(--padding-sm)
    var(--padding-mini);
  background-color: var(--black-08);
  border-radius: var(--br-5xs);
  gap: 0 0.25rem;
  white-space: nowrap;
}
.button44:hover,
.container70:hover,
.container71:hover,
.container72:hover,
.container73:hover,
.container74:hover,
.container81:hover,
.container82:hover {
  background-color: var(--color-darkslategray-100);
  border: 1px solid var(--color-dimgray-100);
  box-sizing: border-box;
}
.heading-parent12 {
  align-self: stretch;
  gap: 0 0.875rem;
  max-width: 100%;
}
.name,
.text27 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.text27 {
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.text-container12 {
  width: 7.563rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 4.938rem;
}
.shape-icon,
.shape-icon1,
.shape-icon2,
.shape-icon3 {
  height: 1.125rem;
  width: 1.125rem;
  position: relative;
  min-height: 1.125rem;
}
.shape-icon4,
.shape-icon5 {
  height: 1.019rem;
  width: 0.538rem;
  position: relative;
  min-height: 1rem;
}
.container65,
.shape32 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container65 {
  gap: 0 0.125rem;
}
.links-container9 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.container64,
.sub-container42 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.sub-container42 {
  border-radius: var(--br-32xl);
  background-color: var(--black-08);
  border: 1px solid var(--black-15);
  padding: var(--padding-7xs) var(--padding-2xs) var(--padding-7xs)
    var(--padding-4xs);
  gap: 0 0.25rem;
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.container64 {
  align-self: stretch;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 0 2.563rem;
}
.paragraph6 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--grey-60);
}
.card29 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--black-06);
  border: 1px solid var(--black-15);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-21xl) var(--padding-22xl) var(--padding-21xl)
    var(--padding-20xl);
  gap: 1.25rem 0;
  min-width: 18.25rem;
  max-width: 100%;
}
.name1,
.text28 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.text28 {
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.text-container13 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 5.5rem;
}
.shape-icon10,
.shape-icon6,
.shape-icon7,
.shape-icon8,
.shape-icon9 {
  height: 1.125rem;
  width: 1.125rem;
  position: relative;
  min-height: 1.125rem;
}
.container67 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 0.125rem;
}
.text29 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.container66,
.sub-container43 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.sub-container43 {
  flex: 0.8346;
  border-radius: var(--br-32xl);
  background-color: var(--black-08);
  border: 1px solid var(--black-15);
  box-sizing: border-box;
  padding: var(--padding-7xs) var(--padding-2xs) var(--padding-7xs)
    var(--padding-4xs);
  gap: 0 0.25rem;
  min-width: 5.375rem;
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.container66 {
  align-self: stretch;
  gap: 0 2.563rem;
}
.paragraph7 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  color: var(--grey-60);
}
.card30,
.sub-container41 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.card30 {
  flex: 1;
  border-radius: var(--br-xs);
  background-color: var(--black-06);
  border: 1px solid var(--black-15);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-21xl) var(--padding-22xl) var(--padding-21xl)
    var(--padding-20xl);
  gap: 1.25rem 0;
  min-width: 18.25rem;
}
.sub-container41 {
  align-self: stretch;
  flex-direction: row;
  gap: 0 1.25rem;
  font-size: var(--font-size-xl);
  color: var(--absolute-white);
}
.icon66 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button45 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-sm) var(--padding-mini) var(--padding-sm)
    var(--padding-smi);
  background-color: var(--black-08);
  height: 3.25rem;
  width: 3.25rem;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.shape33,
.shape34,
.shape35,
.shape36 {
  height: 0.25rem;
  width: 1.438rem;
  position: relative;
  border-radius: var(--br-81xl);
  background-color: var(--red-45);
}
.shape34,
.shape35,
.shape36 {
  width: 1rem;
  background-color: var(--black-20);
}
.indicators-container8 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-xl) var(--padding-9xs) var(--padding-xl) 0;
  gap: 0 0.125rem;
}
.icon67 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button-parent,
.button46 {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
.button46 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-sm) var(--padding-mini) var(--padding-sm)
    var(--padding-smi);
  background-color: var(--black-08);
  height: 3.25rem;
  width: 3.25rem;
  border-radius: var(--br-81xl);
  box-sizing: border-box;
}
.button-parent {
  padding: 0 var(--padding-11xs) 0 0;
  gap: 0 0.563rem;
}
.container63,
.sub-container39 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  max-width: 100%;
}
.container63 {
  align-self: stretch;
  border-radius: var(--br-xs);
  background-color: var(--black-10);
  border: 1px solid var(--black-15);
  box-sizing: border-box;
  align-items: center;
  padding: var(--padding-31xl) var(--padding-30xl);
  gap: 2.5rem 0;
}
.sub-container39 {
  flex: 1;
  align-items: flex-start;
  gap: 1.875rem 0;
}
.icon68 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading45 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 28px);
}
.sub-container45 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.25rem;
  max-width: 100%;
}
.text30 {
  align-self: stretch;
  position: relative;
  font-size: var(--font-size-xl);
  line-height: 150%;
  font-weight: 600;
  color: var(--absolute-white);
}
.container68 {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.875rem 0;
  max-width: 100%;
}
.icon69 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading46 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 28px);
}
.sub-container46 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.25rem;
  max-width: 100%;
}
.line-separator1 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--absolute-white);
  text-align: left;
}
.container70 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-5xs)
    var(--padding-smi);
  background-color: var(--black-08);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text31 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--absolute-white);
  text-align: left;
}
.container71 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-5xs)
    var(--padding-smi);
  background-color: var(--black-08);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text32 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--absolute-white);
  text-align: left;
}
.container72 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-5xs)
    var(--padding-smi);
  background-color: var(--black-08);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text33 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--absolute-white);
  text-align: left;
}
.container73 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-5xs)
    var(--padding-smi);
  background-color: var(--black-08);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.button-set {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--absolute-white);
  text-align: left;
}
.container69,
.container74,
.sub-container47 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container74 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-5xs)
    var(--padding-smi);
  background-color: var(--black-08);
  border-radius: var(--br-5xs);
  flex-direction: row;
}
.container69,
.sub-container47 {
  align-self: stretch;
}
.sub-container47 {
  flex-direction: row;
  flex-wrap: wrap;
  gap: var(--gap-3xs);
  min-height: 6rem;
}
.container69 {
  flex-direction: column;
  gap: 0.875rem 0;
  max-width: 100%;
}
.icon70 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading47 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 28px);
}
.sub-container48 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.25rem;
  max-width: 100%;
}
.heading48 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.shape-icon11,
.shape-icon12,
.shape-icon13,
.shape-icon14,
.shape-icon15,
.shape-icon16 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  min-height: 1.5rem;
}
.shape-icon15,
.shape-icon16 {
  width: 0.819rem;
}
.shape-icon16 {
  width: 0.75rem;
}
.container77,
.shape37 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container77 {
  flex: 1;
  gap: 0 0.125rem;
}
.text34 {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.container76,
.sub-container50 {
  display: flex;
  justify-content: flex-start;
}
.sub-container50 {
  align-self: stretch;
  flex-direction: row;
  align-items: center;
  gap: 0 0.25rem;
}
.container76 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--black-08);
  border: 1px solid var(--black-15);
  box-sizing: border-box;
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-base) var(--padding-2xl) var(--padding-base)
    var(--padding-base);
  gap: 0.25rem 0;
  min-width: 9.313rem;
}
.heading49 {
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.shape-icon17,
.shape-icon18,
.shape-icon19,
.shape-icon20,
.shape-icon21 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  min-height: 1.5rem;
}
.container79 {
  flex: 1;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0 0.125rem;
}
.text-label {
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.sub-container51 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.25rem;
}
.container75,
.container78,
.sub-container49 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.container78 {
  flex: 0.8875;
  border-radius: var(--br-5xs);
  background-color: var(--black-08);
  border: 1px solid var(--black-15);
  box-sizing: border-box;
  flex-direction: column;
  padding: var(--padding-base) var(--padding-20xl) var(--padding-base)
    var(--padding-base);
  gap: 0.25rem 0;
  min-width: 9.313rem;
}
.container75,
.sub-container49 {
  align-self: stretch;
}
.sub-container49 {
  flex-direction: row;
  padding: 0 var(--padding-12xs) 0 0;
  gap: 0 1.25rem;
  font-size: var(--font-size-xl);
  color: var(--absolute-white);
}
.container75 {
  flex-direction: column;
  gap: 0.875rem 0;
  max-width: 100%;
}
.icon71 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.heading50 {
  flex: 1;
  position: relative;
  line-height: 150%;
  font-weight: 500;
  display: inline-block;
  max-width: calc(100% - 28px);
}
.sub-container52 {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 0 0.25rem;
  max-width: 100%;
}
.shape38 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--absolute-white);
  text-align: left;
}
.container81 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-5xs)
    var(--padding-smi);
  background-color: var(--black-08);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.text35 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 500;
  font-family: var(--font-manrope);
  color: var(--absolute-white);
  text-align: left;
}
.container80,
.container82,
.sub-container53 {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.container82 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-5xs) var(--padding-mini) var(--padding-5xs)
    var(--padding-smi);
  background-color: var(--black-08);
  border-radius: var(--br-5xs);
}
.container80,
.sub-container53 {
  gap: 0 0.625rem;
}
.container80 {
  align-self: stretch;
  flex-direction: column;
  gap: 0.875rem 0;
  max-width: 100%;
}
.heading51 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.image-icon162 {
  height: 3.75rem;
  width: 3.538rem;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
}
.name2,
.text36 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.text36 {
  font-size: var(--font-size-base);
  color: var(--grey-60);
}
.text-container14 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 13.188rem;
  max-width: 100%;
}
.container83,
.sub-container54 {
  align-self: stretch;
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.sub-container54 {
  border-radius: var(--br-5xs);
  background-color: var(--black-08);
  border: 1px solid var(--black-15);
  box-sizing: border-box;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-sm);
  gap: 0 0.625rem;
  color: var(--absolute-white);
}
.container83 {
  flex-direction: column;
  align-items: flex-start;
  gap: 0.875rem 0;
}
.heading52 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.image-icon163 {
  height: 3.75rem;
  width: 3.538rem;
  position: relative;
  border-radius: var(--br-5xs);
  object-fit: cover;
}
.name3,
.text37 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.text37 {
  font-size: var(--font-size-base);
  color: var(--grey-60);
}
.text-container15 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  min-width: 13.188rem;
  max-width: 100%;
}
.container84,
.sub-container55 {
  align-self: stretch;
  justify-content: flex-start;
}
.sub-container55 {
  border-radius: var(--br-5xs);
  background-color: var(--black-08);
  border: 1px solid var(--black-15);
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: var(--padding-sm);
  gap: 0 0.625rem;
  max-width: 100%;
  color: var(--absolute-white);
}
.container84 {
  flex-direction: column;
  gap: 0.875rem 0;
}
.container84,
.heading-box,
.sub-container44,
.text-frame {
  display: flex;
  align-items: flex-start;
  max-width: 100%;
}
.sub-container44 {
  width: 32.438rem;
  border-radius: var(--br-xs);
  background-color: var(--black-10);
  border: 1px solid var(--black-15);
  box-sizing: border-box;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-31xl) var(--padding-32xl) var(--padding-31xl)
    var(--padding-30xl);
  gap: 1.875rem 0;
  min-width: 32.438rem;
}
.heading-box,
.text-frame {
  flex-direction: row;
}
.text-frame {
  flex: 1;
  justify-content: flex-start;
  gap: 0 1.25rem;
}
.heading-box {
  align-self: stretch;
  justify-content: flex-end;
  padding: 0 var(--padding-11xs) var(--padding-8xs) 0;
  box-sizing: border-box;
  text-align: left;
  font-size: var(--font-size-lg);
  color: var(--grey-60);
  font-family: var(--font-manrope);
}
.image-icon164,
.image-icon165,
.image-icon166,
.image-icon167,
.image-icon168,
.image-icon169,
.image-icon170,
.image-icon171,
.image-icon172 {
  height: 5.238rem;
  flex: 1;
  position: relative;
  max-width: 10.313rem;
  overflow: hidden;
  object-fit: cover;
  min-width: 10.125rem;
  min-height: 5.25rem;
}
.image-container45 {
  width: calc(100% - 206px);
  margin: 0 !important;
  position: absolute;
  top: 0;
  right: 8.313rem;
  left: 4.563rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0 1.188rem;
}
.image-icon173,
.image-icon174,
.image-icon175,
.image-icon176,
.image-icon177,
.image-icon178,
.image-icon179,
.image-icon180,
.image-icon181 {
  height: 5.238rem;
  flex: 1;
  position: relative;
  max-width: 10.313rem;
  overflow: hidden;
  object-fit: cover;
  min-width: 10.125rem;
  min-height: 5.25rem;
}
.image-container46 {
  width: calc(100% - 206px);
  margin: 0 !important;
  position: absolute;
  top: 6.438rem;
  right: 8.313rem;
  left: 4.563rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0 1.188rem;
}
.image-icon182,
.image-icon183,
.image-icon184,
.image-icon185,
.image-icon186,
.image-icon187,
.image-icon188,
.image-icon189,
.image-icon190 {
  height: 5.238rem;
  flex: 1;
  position: relative;
  max-width: 10.313rem;
  overflow: hidden;
  object-fit: cover;
  min-width: 10.125rem;
  min-height: 5.25rem;
}
.image-container47 {
  width: calc(100% - 206px);
  margin: 0 !important;
  position: absolute;
  right: 8.313rem;
  bottom: 6.563rem;
  left: 4.563rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0 1.188rem;
}
.image-icon191,
.image-icon192,
.image-icon193,
.image-icon194,
.image-icon195,
.image-icon196,
.image-icon197,
.image-icon198,
.image-icon199 {
  height: 5.238rem;
  flex: 1;
  position: relative;
  max-width: 10.313rem;
  overflow: hidden;
  object-fit: cover;
  min-width: 10.125rem;
  min-height: 5.25rem;
}
.fade-out-left2,
.image-container48 {
  position: absolute;
  margin: 0 !important;
}
.image-container48 {
  width: calc(100% - 206px);
  right: 8.313rem;
  bottom: 0.063rem;
  left: 4.563rem;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  gap: 0 1.188rem;
}
.fade-out-left2 {
  height: 21.5rem;
  width: 100%;
  right: 0;
  bottom: 1.563rem;
  left: 0;
  background: linear-gradient(
    89.97deg,
    #0f0f0f 2.08%,
    rgba(20, 15, 15, 0.97) 15.63%,
    rgba(34, 14, 14, 0.91) 28.13%,
    rgba(229, 0, 0, 0)
  );
  mix-blend-mode: normal;
  z-index: 1;
}
.heading53,
.paragraph8 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  z-index: 2;
}
.heading53 {
  margin: 0;
  font-size: inherit;
  font-weight: 700;
  font-family: inherit;
}
.paragraph8 {
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.container86 {
  width: 61.375rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.875rem 0;
  max-width: 100%;
}
.text-button23 {
  position: relative;
  font-size: var(--font-size-lg);
  line-height: 150%;
  font-weight: 600;
  font-family: var(--font-manrope);
  color: var(--absolute-white);
  text-align: left;
}
.button47 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-lg) var(--padding-xl) var(--padding-lg)
    var(--padding-5xl);
  background-color: var(--red-45);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  z-index: 2;
}
.button47:hover {
  background-color: var(--color-red-100);
}
.background-images3 {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: calc(50% - 197.5px);
  left: calc(50% - 823px);
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-122xl) var(--padding-144xl);
  gap: 0 6.25rem;
  max-width: 100%;
}
.background-images3,
.container85,
.shape41,
.shape42 {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
}
.container85 {
  height: 19.563rem;
  width: 102.875rem;
  border-radius: var(--br-xs);
  background-color: var(--black-06);
  border: 1px solid var(--black-15);
  overflow: hidden;
  flex-shrink: 0;
  align-items: flex-end;
  justify-content: flex-end;
  position: relative;
  max-width: 108%;
}
.shape41,
.shape42 {
  align-items: flex-start;
}
.shape42 {
  width: 94.938rem;
  justify-content: flex-start;
  padding: 0;
  max-width: 105%;
  flex-shrink: 0;
}
.shape41 {
  width: 91.25rem;
  justify-content: flex-end;
  padding: 0 var(--padding-xl) 0 0;
  max-width: 100%;
}
.heading54 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.text-button24,
.text-button25,
.text-button26,
.text-button27 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.links-container10,
.sub-container56 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.links-container10 {
  align-self: stretch;
  gap: 0.875rem 0;
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.sub-container56 {
  flex: 1;
  gap: 1.5rem 0;
  min-width: 14rem;
  max-width: 14.313rem;
}
.heading55 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.text-button28,
.text-button29,
.text-button30,
.text-button31 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 500;
}
.links-container11,
.sub-container57 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.links-container11 {
  align-self: stretch;
  gap: 0.875rem 0;
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.sub-container57 {
  flex: 1;
  gap: 1.5rem 0;
  min-width: 14rem;
  max-width: 14.313rem;
}
.heading56,
.text-button32 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.text-button32 {
  font-size: var(--font-size-lg);
  font-weight: 500;
  color: var(--grey-60);
}
.sub-container58 {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem 0;
  min-width: 14rem;
  max-width: 14.313rem;
}
.heading57,
.text-button33,
.text-button34 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.text-button33,
.text-button34 {
  font-weight: 500;
}
.links-container12,
.sub-container59 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}
.links-container12 {
  align-self: stretch;
  gap: 0.875rem 0;
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.sub-container59 {
  flex: 1;
  gap: 1.5rem 0;
  min-width: 14rem;
  max-width: 14.313rem;
}
.heading58 {
  align-self: stretch;
  position: relative;
  line-height: 150%;
  font-weight: 600;
}
.icon72 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button48 {
  cursor: pointer;
  border: 1px solid var(--black-15);
  padding: var(--padding-base) var(--padding-mid) var(--padding-base)
    var(--padding-mini);
  background-color: var(--black-10);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.icon73 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button49 {
  border-radius: var(--br-5xs);
  background-color: var(--black-10);
  border: 1px solid var(--black-15);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mid) var(--padding-base)
    var(--padding-mini);
}
.icon74 {
  height: 1.5rem;
  width: 1.5rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.button50 {
  border-radius: var(--br-5xs);
  background-color: var(--black-10);
  border: 1px solid var(--black-15);
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-base) var(--padding-mid) var(--padding-base)
    var(--padding-mini);
}
.buttons-container13 {
  flex-direction: row;
  gap: 0 0.875rem;
}
.buttons-container13,
.container87,
.links-container13 {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.links-container13 {
  flex: 1;
  flex-direction: column;
  gap: 1.5rem 0;
  min-width: 14rem;
  max-width: 14.313rem;
}
.container87 {
  width: 79.188rem;
  flex-direction: row;
  flex-wrap: wrap;
  padding: 0 var(--padding-11xs) 0 0;
  box-sizing: border-box;
  gap: 0 1.875rem;
  max-width: 100%;
}
.line-separator2 {
  align-self: stretch;
  height: 0.063rem;
  position: relative;
  border-top: 1px solid var(--black-15);
  box-sizing: border-box;
}
.text-container16,
.text-content {
  position: relative;
  line-height: 150%;
}
.text-container16 {
  flex: 1;
  flex-shrink: 0;
}
.line5 {
  height: 1.688rem;
  width: 0.063rem;
  position: relative;
  border-right: 1px solid var(--black-15);
  box-sizing: border-box;
}
.text-container17 {
  flex: 1;
  position: relative;
  line-height: 150%;
  flex-shrink: 0;
}
.line6 {
  height: 1.688rem;
  width: 0.063rem;
  position: relative;
  border-right: 1px solid var(--black-15);
  box-sizing: border-box;
}
.text-container18 {
  flex: 1;
  position: relative;
  line-height: 150%;
  flex-shrink: 0;
}
.container88,
.text-container-group {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  max-width: 100%;
}
.text-container-group {
  height: 1.688rem;
  width: 25.688rem;
  justify-content: flex-start;
  gap: 0 1.25rem;
}
.container88 {
  align-self: stretch;
  justify-content: space-between;
  gap: var(--gap-xl);
}
.footer3,
.frame-main {
  flex-direction: column;
  max-width: 100%;
}
.frame-main {
  width: 79.188rem;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.5rem 0;
  font-size: var(--font-size-lg);
  color: var(--grey-60);
}
.footer3 {
  width: 90rem;
  background-color: var(--black-06);
  align-items: center;
  padding: var(--padding-81xl) var(--padding-12xl) var(--padding-31xl)
    var(--padding-xl);
  box-sizing: border-box;
  gap: 6.25rem 0;
  text-align: left;
  font-size: var(--font-size-xl);
  color: var(--absolute-white);
  font-family: var(--font-manrope);
}
.details1,
.footer3,
.shape39,
.shape40 {
  display: flex;
  justify-content: flex-start;
}
.shape40 {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 3.875rem 0;
  max-width: 100%;
}
.details1,
.shape39 {
  box-sizing: border-box;
}
.shape39 {
  width: 102.875rem;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-7xs);
  max-width: 114%;
  flex-shrink: 0;
  text-align: left;
  font-size: var(--font-size-29xl);
  color: var(--absolute-white);
  font-family: var(--font-manrope);
}
.details1 {
  width: 100%;
  position: relative;
  background-color: var(--black-08);
  overflow: hidden;
  flex-direction: column;
  align-items: center;
  padding: var(--padding-22xl) 0 0;
  gap: 7.125rem 0;
  letter-spacing: normal;
}
@media screen and (max-width: 1400px) {
  .container60 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .image-container45,
  .image-container46,
  .image-container47,
  .image-container48 {
    flex-wrap: wrap;
  }
  .background-images3 {
    flex-wrap: wrap;
    padding-left: var(--padding-62xl);
    padding-right: var(--padding-62xl);
    box-sizing: border-box;
  }
  .container85 {
    height: auto;
    min-height: 313;
  }
}
@media screen and (max-width: 1200px) {
  .container62,
  .container63,
  .text-container11 {
    padding-left: var(--padding-5xl);
    padding-right: var(--padding-5xl);
    box-sizing: border-box;
  }
  .container62,
  .container63 {
    padding-right: var(--padding-6xl);
  }
  .container63 {
    padding-right: var(--padding-5xl);
  }
  .sub-container44 {
    flex: 1;
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .text-frame {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 825px) {
  .options4 {
    display: none;
  }
  .logo-left4 {
    gap: 0 2.25rem;
  }
  .heading41 {
    font-size: var(--font-size-11xl);
    line-height: 2.875rem;
  }
  .container60 {
    gap: 1.875rem 0;
  }
  .primary-title {
    gap: 4.875rem 0;
  }
  .heading-parent12,
  .image-container44,
  .sub-container40,
  .sub-container41 {
    flex-wrap: wrap;
  }
  .container63 {
    padding-top: var(--padding-13xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .sub-container39 {
    min-width: 100%;
  }
  .sub-container44 {
    gap: 1.875rem 0;
    padding: var(--padding-2xl) var(--padding-6xl) var(--padding-2xl)
      var(--padding-5xl);
    box-sizing: border-box;
    min-width: 100%;
  }
  .heading53 {
    font-size: var(--font-size-19xl);
    line-height: 3.625rem;
  }
  .background-images3 {
    gap: 0 6.25rem;
    padding-left: var(--padding-21xl);
    padding-right: var(--padding-21xl);
    box-sizing: border-box;
  }
  .container88 {
    flex-wrap: wrap;
  }
  .footer3 {
    gap: 6.25rem 0;
    padding-top: var(--padding-46xl);
    padding-bottom: var(--padding-13xl);
    box-sizing: border-box;
  }
  .shape40 {
    gap: 3.875rem 0;
  }
  .details1 {
    gap: 7.125rem 0;
  }
}
@media screen and (max-width: 450px) {
  .heading41 {
    font-size: var(--font-size-4xl);
    line-height: 2.125rem;
  }
  .container61 {
    flex-wrap: wrap;
  }
  .primary-title {
    gap: 4.875rem 0;
  }
  .container62 {
    gap: 1.875rem 0;
  }
  .name {
    font-size: var(--font-size-base);
    line-height: 1.5rem;
  }
  .container64 {
    flex-wrap: wrap;
    gap: 0 2.563rem;
  }
  .name1 {
    font-size: var(--font-size-base);
    line-height: 1.5rem;
  }
  .sub-container43 {
    flex: 1;
  }
  .container66 {
    flex-wrap: wrap;
    gap: 0 2.563rem;
  }
  .container63 {
    gap: 2.5rem 0;
  }
  .heading48,
  .heading49,
  .text-label,
  .text30,
  .text34 {
    font-size: var(--font-size-base);
    line-height: 1.5rem;
  }
  .container78 {
    flex: 1;
  }
  .sub-container49,
  .sub-container54,
  .sub-container55 {
    flex-wrap: wrap;
  }
  .heading53 {
    font-size: var(--font-size-10xl);
    line-height: 2.688rem;
  }
  .background-images3 {
    gap: 0 6.25rem;
  }
  .heading54,
  .heading55,
  .heading56,
  .heading57,
  .heading58 {
    font-size: var(--font-size-base);
    line-height: 1.5rem;
  }
  .footer3 {
    gap: 6.25rem 0;
  }
  .shape40 {
    gap: 3.875rem 0;
  }
  .details1 {
    gap: 7.125rem 0;
  }
}
