body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-poppins: Poppins;
  --font-roboto: Roboto;
  --font-open-sans: "Open Sans";
  --font-manrope: Manrope;
  --font-archivo: Archivo;

  /* font sizes */
  --font-size-lgi: 1.188rem;
  --font-size-20xl: 2.438rem;
  --font-size-4xl: 1.438rem;
  --font-size-12xl: 1.938rem;
  --font-size-lg: 1.125rem;
  --font-size-base: 1rem;
  --font-size-xs: 0.75rem;
  --font-size-3xl: 1.375rem;
  --font-size-10xl: 1.813rem;
  --font-size-27xl: 2.875rem;
  --font-size-17xl: 2.25rem;
  --font-size-xl: 1.25rem;
  --font-size-7xl: 1.625rem;
  --font-size-29xl: 3rem;
  --font-size-16xl: 2.188rem;
  --font-size-6xl: 1.563rem;
  --font-size-19xl: 2.375rem;
  --font-size-11xl: 1.875rem;

  /* Colors */
  --color-black: #000;
  --color-goldenrod: #ffc444;
  --absolute-white: #fff;
  --color-red-100: #ff2626;
  --color-red-200: #f40d0d;
  --red-45: #e60000;
  --color-red-300: rgba(229, 0, 0, 0);
  --color-tomato: #ff3333;
  --color-whitesmoke-100: #ececec;
  --color-whitesmoke-200: rgba(249, 249, 249, 0.1);
  --color-darkslategray-100: #474747;
  --color-darkslategray-200: #3d3f54;
  --black-20: #333;
  --color-darkslategray-300: #303030;
  --black: #2f2f2f;
  --color-silver-100: #c9c9c9;
  --color-silver-200: #bfbfbf;
  --color-gainsboro-100: #e6e6e6;
  --tv-compose-sys-dark-on-surface: #e3e3e3;
  --color-gainsboro-200: #e0e0e0;
  --color-mediumslateblue: #6258dc;
  --color-dimgray-100: #595959;
  --h1: #515151;
  --black-15: #262626;
  --black-12: #1f1f1f;
  --black-10: #1a1a1a;
  --black-08: #141414;
  --black-06: #0f0f0f;
  --grey-60: #999;

  /* Gaps */
  --gap-9xl: 1.75rem;
  --gap-4xl: 1.438rem;
  --gap-0: 0rem;
  --gap-xl: 1.25rem;
  --gap-xs: 0.75rem;
  --gap-10xl: 1.813rem;
  --gap-7xs: 0.375rem;
  --gap-3xl: 1.375rem;
  --gap-lgi: 1.188rem;
  --gap-13xl: 2rem;
  --gap-5xl: 1.5rem;
  --gap-177xl: 12.25rem;
  --gap-9xs: 0.25rem;
  --gap-36xl: 3.438rem;
  --gap-20xl: 2.438rem;
  --gap-12xl: 1.938rem;
  --gap-81xl: 6.25rem;
  --gap-sm: 0.875rem;
  --gap-31xl: 3.125rem;
  --gap-3xs: 0.625rem;
  --gap-8xs: 0.313rem;
  --gap-32xl: 3.188rem;
  --gap-11xl: 1.875rem;
  --gap-38xl: 3.563rem;
  --gap-54xl: 4.563rem;
  --gap-39xl: 3.625rem;
  --gap-95xl: 7.125rem;
  --gap-43xl: 3.875rem;
  --gap-21xl: 2.5rem;
  --gap-59xl: 4.875rem;
  --gap-87xl: 6.625rem;
  --gap-91xl: 6.875rem;
  --gap-base: 1rem;
  --gap-26xl: 2.813rem;

  /* Paddings */
  --padding-25xl: 2.75rem;
  --padding-24xl: 2.688rem;
  --padding-79xl: 6.125rem;
  --padding-37xl: 3.5rem;
  --padding-xl: 1.25rem;
  --padding-23xl: 2.625rem;
  --padding-10xl: 1.813rem;
  --padding-2xl: 1.313rem;
  --padding-45xl: 4rem;
  --padding-9xl: 1.75rem;
  --padding-15xl: 2.125rem;
  --padding-5xs: 0.5rem;
  --padding-2xs: 0.688rem;
  --padding-11xs: 0.125rem;
  --padding-mini: 0.938rem;
  --padding-xs: 0.75rem;
  --padding-7xl: 1.625rem;
  --padding-7xs: 0.375rem;
  --padding-4xl: 1.438rem;
  --padding-lg: 1.125rem;
  --padding-8xs: 0.313rem;
  --padding-6xs: 0.438rem;
  --padding-6xl: 1.563rem;
  --padding-222xl: 15.063rem;
  --padding-221xl: 15rem;
  --padding-3xl: 1.375rem;
  --padding-4xs: 0.563rem;
  --padding-5xl: 1.5rem;
  --padding-13xl: 2rem;
  --padding-3xs: 0.625rem;
  --padding-12xs: 0.063rem;
  --padding-base: 1rem;
  --padding-60xl: 4.938rem;
  --padding-20xl: 2.438rem;
  --padding-10xs: 0.188rem;
  --padding-11xl: 1.875rem;
  --padding-mid: 1.063rem;
  --padding-9xs: 0.25rem;
  --padding-81xl: 6.25rem;
  --padding-12xl: 1.938rem;
  --padding-31xl: 3.125rem;
  --padding-46xl: 4.063rem;
  --padding-122xl: 8.813rem;
  --padding-lgi: 1.188rem;
  --padding-30xl: 3.063rem;
  --padding-sm: 0.875rem;
  --padding-smi: 0.813rem;
  --padding-109xl: 8rem;
  --padding-22xl: 2.563rem;
  --padding-21xl: 2.5rem;
  --padding-144xl: 10.188rem;
  --padding-62xl: 5.063rem;
  --padding-32xl: 3.188rem;

  /* Border radiuses */
  --br-5xs: 8px;
  --br-xl: 20px;
  --br-3xs: 10px;
  --br-xs: 12px;
  --br-8xs: 5px;
  --br-9xs: 4px;
  --br-81xl: 100px;
  --br-32xl: 51px;
}

.logo-left,
.options {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.options {
  margin: 0;
  align-items: flex-start;
  padding: var(--padding-xl) 0;
  box-sizing: border-box;
  gap: 0 1.375rem;
  text-align: left;
  font-size: var(--font-size-base);
  color: var(--absolute-white);
  font-family: var(--font-poppins);
}

a{
  text-decoration: none;
  color: white;
}