.desktop-wallpaper-movie-poster-icon {
  height: 64rem;
  width: 40.75rem;
  position: relative;
  border-radius: var(--br-xl);
  object-fit: cover;
  max-width: 100%;
}
a{
  text-decoration: none;
  color: white;
}
a:visited,:hover{
  text-decoration: none;
  color: white;
}
.bg {
  width: 49.25rem;
  height: 58.75rem;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-black);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  display: none;
  max-width: 100%;
}
.welcome-to {
  margin: 0;
  font-weight: 500;
}
.span {
  color: var(--color-mediumslateblue);
}
.flixup1 {
  font-weight: 900;
}
.flixup {
  margin: 0;
  font-size: var(--font-size-27xl);
  color: var(--color-red-200);
}
.welcome-to-flixup-container {
  height: 7.125rem;
  position: relative;
  line-height: 135.5%;
  display: inline-block;
  z-index: 1;
}
.welcome-to-flixup-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-4xs);
}
.login-with-google-child {
  height: 4.875rem;
  width: 42.563rem;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--absolute-white);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11);
  display: none;
  max-width: 100%;
}
.search-1-icon {
  height: 2rem;
  width: 2rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.login-with-google1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 135.5%;
  font-family: var(--font-poppins);
  color: var(--black);
  text-align: left;
  z-index: 1;
}
.login-with-facebook-child,
.login-with-google {
  border-radius: var(--br-5xs);
  background-color: var(--absolute-white);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11);
  max-width: 100%;
}
.login-with-google {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xl) var(--padding-xl) var(--padding-2xl)
    var(--padding-3xl);
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  gap: var(--gap-lgi);
  z-index: 1;
}
.login-with-facebook:hover,
.login-with-google:hover {
  background-color: var(--color-gainsboro-100);
}
.login-with-facebook-child {
  height: 4.875rem;
  width: 42.563rem;
  position: relative;
  display: none;
}
.email-symbol-icon {
  height: 2rem;
  width: 1rem;
  position: relative;
  z-index: 1;
}
.login-with-facebook1 {
  position: relative;
  font-size: var(--font-size-base);
  line-height: 135.5%;
  font-family: var(--font-poppins);
  color: var(--black);
  text-align: left;
  z-index: 1;
}
.login-with-facebook,
.login-with-facebook-wrapper {
  display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-width: 100%;
}
.login-with-facebook {
  cursor: pointer;
  border: 0;
  padding: var(--padding-6xl) var(--padding-222xl) var(--padding-2xl)
    var(--padding-221xl);
  background-color: var(--absolute-white);
  flex: 1;
  border-radius: var(--br-5xs);
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.11);
  align-items: center;
  justify-content: center;
  gap: var(--gap-3xl);
  z-index: 1;
}
.login-with-facebook-wrapper {
  align-self: stretch;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-6xs);
}
.lines-container {
  height: 0.063rem;
  flex: 1;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
}
.lines-container,
.lines-container1,
.or {
  position: relative;
  z-index: 1;
}
.or {
  line-height: 135.5%;
}
.lines-container1 {
  height: 0.063rem;
  flex: 1;
  border-top: 1px solid var(--color-silver-200);
  box-sizing: border-box;
}
.divider-line,
.o-r-text {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  max-width: 100%;
}
.o-r-text {
  flex: 1;
  align-items: center;
  gap: 0 2.156rem;
}
.divider-line {
  align-self: stretch;
  align-items: flex-start;
  padding: 0 var(--padding-8xs) var(--padding-5xs) 0;
  box-sizing: border-box;
}
.email-child {
  height: 4.813rem;
  width: 41.938rem;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  display: none;
  max-width: 100%;
}
.vector-group-icon {
  width: 1.875rem;
  height: 1.5rem;
  position: relative;
  z-index: 1;
}
.email-password-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 0 var(--padding-7xs);
  box-sizing: border-box;
  width: 1.875rem;
  height: 1.875rem;
}
.email1,
.examplegmailcom {
  position: relative;
  line-height: 135.5%;
  z-index: 1;
}
.examplegmailcom {
  width: calc(100% - 0px);
  border: 0;
  outline: 0;
  display: inline-block;
  font-family: var(--font-poppins);
  font-size: var(--font-size-base);
  background-color: transparent;
  align-self: stretch;
  height: 1.375rem;
  font-weight: 700;
  color: var(--black);
  text-align: left;
  min-width: 6.625rem;
  white-space: nowrap;
}
.email-password {
  width: 11.063rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 0.375rem 0;
}
.email,
.password-child {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  max-width: 100%;
}
.email {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-mini) var(--padding-4xl) var(--padding-lg);
  box-sizing: border-box;
  gap: var(--gap-10xl);
  z-index: 1;
}
.password-child {
  height: 4.813rem;
  width: 41.938rem;
  position: relative;
  display: none;
}
.group-icon {
  height: 1.688rem;
  width: 1.688rem;
  position: relative;
  z-index: 1;
}
.line-line,
.password1 {
  position: relative;
  line-height: 135.5%;
  z-index: 1;
}
.line-line {
  font-size: var(--font-size-base);
  white-space: nowrap;
}
.group-parent,
.password-frame {
  display: flex;
  justify-content: flex-start;
}
.password-frame {
  flex: 1;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem 0;
}
.group-parent {
  width: 9.188rem;
  flex-direction: row;
  align-items: center;
  gap: 0 1.813rem;
}
.bieye-fill-icon {
  width: 1.375rem;
  height: 1.375rem;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
  z-index: 1;
}
.bieye-fill-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-7xs) 0 0;
}
.login-button,
.password {
  align-self: stretch;
  display: flex;
  max-width: 100%;
}
.password {
  border-radius: var(--br-5xs);
  background-color: var(--color-whitesmoke-100);
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: var(--padding-mini) var(--padding-2xl) var(--padding-xs)
    var(--padding-7xl);
  box-sizing: border-box;
  gap: var(--gap-xl);
  z-index: 1;
}
.login-button {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 1.25rem 0;
}
.check {
  margin: 0;
  height: 1.25rem;
  width: 1.125rem;
}
.remember-me {
  position: relative;
  line-height: 135.5%;
  z-index: 1;
}
.button,
.register-link {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.register-link {
  gap: 0 0.938rem;
}
.button {
  padding: 0 var(--padding-11xs);
  font-size: var(--font-size-lg);
  color: var(--absolute-white);
}
.button-child {
  height: 4.813rem;
  width: 41.938rem;
  position: relative;
  border-radius: var(--br-5xs);
  background-color: var(--color-red-200);
  display: none;
  max-width: 100%;
}
.login1 {
  position: relative;
  font-size: var(--font-size-20xl);
  line-height: 2.313rem;
  font-weight: 600;
  font-family: var(--font-poppins);
  color: var(--absolute-white);
  text-align: left;
  z-index: 1;
}
.button1,
.login-button-parent {
  align-self: stretch;
  align-items: flex-start;
}
.button1 {
  cursor: pointer;
  border: 0;
  padding: var(--padding-2xs) var(--padding-xl) var(--padding-10xl)
    var(--padding-2xl);
  background-color: var(--color-red-200);
  border-radius: var(--br-5xs);
  display: flex;
  flex-direction: row;
  justify-content: center;
  box-sizing: border-box;
  max-width: 100%;
  z-index: 1;
}
.button1:hover {
  background-color: var(--color-tomato);
}
.login-button-parent {
  flex-direction: column;
  gap: 1.438rem 0;
  font-size: var(--font-size-xs);
}
.facebook-frame,
.facebook-frame-wrapper,
.login-button-parent {
  display: flex;
  justify-content: flex-start;
  max-width: 100%;
}
.facebook-frame {
  flex: 1;
  flex-direction: column;
  align-items: flex-end;
  gap: 1.75rem 0;
}
.facebook-frame-wrapper {
  align-self: stretch;
  flex-direction: row;
  align-items: flex-start;
  padding: 0 0 0 var(--padding-5xs);
  box-sizing: border-box;
  font-size: var(--font-size-base);
  color: var(--black);
}
.span1 {
  color: var(--color-black);
}
.register {
  color: var(--color-goldenrod);
}

.dont-have-an-container {
  width: 28.75rem;
  position: relative;
  line-height: 1.313rem;
  display: inline-block;
  flex-shrink: 0;
  max-width: 100%;
  z-index: 1;
}
.f-r-a-m-edonthaveanaccount {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 var(--padding-15xl);
  box-sizing: border-box;
  max-width: 100%;
  font-size: var(--font-size-lgi);
}
.login,
.main-frame {
  background-color: var(--color-black);
  display: flex;
  justify-content: flex-start;
}
.main-frame {
  flex: 1;
  border-radius: var(--br-5xs);
  box-shadow: 0 0 4px rgba(0, 0, 0, 0.08);
  flex-direction: column;
  align-items: flex-start;
  padding: var(--padding-25xl) var(--padding-24xl) var(--padding-79xl)
    var(--padding-37xl);
  box-sizing: border-box;
  gap: 1.75rem 0;
  min-width: 32rem;
  max-width: 100%;
}
.login {
  width: 100%;
  position: relative;
  overflow: hidden;
  flex-direction: row;
  align-items: center;
  letter-spacing: normal;
  row-gap: 20px;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--absolute-white);
  font-family: var(--font-poppins);
}
@media screen and (max-width: 1125px) {
  .desktop-wallpaper-movie-poster-icon {
    flex: 1;
  }
  .login {
    flex-wrap: wrap;
  }
}
@media screen and (max-width: 1050px) {
  .welcome-to-flixup-container {
    font-size: var(--font-size-10xl);
    line-height: 3.125rem;
  }
  .login1 {
    font-size: var(--font-size-12xl);
    line-height: 2.938rem;
  }
  .main-frame {
    padding: var(--padding-10xl) var(--padding-2xl) var(--padding-45xl)
      var(--padding-9xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 750px) {
  .o-r-text {
    gap: 0 2.156rem;
  }
  .main-frame {
    padding-top: var(--padding-xl);
    padding-bottom: var(--padding-23xl);
    box-sizing: border-box;
    min-width: 100%;
  }
}
@media screen and (max-width: 450px) {
  .welcome-to-flixup-container {
    font-size: var(--font-size-3xl);
    line-height: 2.313rem;
  }
  .login-with-google {
    flex-wrap: wrap;
  }
  .login-with-facebook {
    padding-left: var(--padding-xl);
    padding-right: var(--padding-xl);
    box-sizing: border-box;
  }
  .email {
    flex-wrap: wrap;
  }
  .login1 {
    font-size: var(--font-size-4xl);
    line-height: 2.188rem;
  }
}
